# STAT5243 Team Project 
*Date: 5/15/2025*  
*Name: MuQing Wen*  
*UNI: mw3821*

In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time
from datetime import datetime, timedelta
import os
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [3]:
import yfinance as yf

# List of Yahoo Finance crypto tickers (update based on current top 10)
crypto_symbols = ['BTC-USD', 'ETH-USD', 'USDT-USD', 'BNB-USD', 'SOL-USD',
                  'XRP-USD', 'ADA-USD', 'DOGE-USD', 'TON11419-USD', 'AVAX-USD']

# Download historical data
data0 = yf.download(crypto_symbols, start="2024-05-01", end="2025-05-01")

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  10 of 10 completed

In [4]:
# Create features
print(data0.shape)

(365, 50)

In [5]:
unique_names = data0.columns.get_level_values(0).unique()
print(unique_names)

Index(['Close', 'High', 'Low', 'Open', 'Volume'], dtype='object', name='Price')

In [6]:
import pandas as pd

def save_columns_to_csv(col_names, df, folder_name):
    # Create the folder if it doesn't exist
    os.makedirs(folder_name, exist_ok=True)
    
    # Iterate through each unique column name
    for col in col_names:
        if col in df.columns:  # Ensure the column exists in the DataFrame
            df1 = df[col]
            # df1 = df0.rename(columns=ticker_dict)
            missing_indexes = df1[df1.isnull().any(axis=1)].index
            
            print("Number of rows with missing values:", len(missing_indexes))
            df_cleaned = df1.drop(index=missing_indexes)
            df_cleaned.to_csv(f"{folder_name}/{col}.csv", index=True)
        else:
            print(f"Warning: Column '{col}' not found in DataFrame.")

save_columns_to_csv(unique_names, data0, "2024_to_2025")

Number of rows with missing values: 0
Number of rows with missing values: 0
Number of rows with missing values: 0
Number of rows with missing values: 0
Number of rows with missing values: 0

In [8]:
import os
import pandas as pd

def load_csvs_to_dict(folder_name):
    data_dict = {}
    
    # Ensure the folder exists
    if not os.path.exists(folder_name):
        print(f"Error: Folder '{folder_name}' does not exist.")
        return data_dict

    # Iterate through the files in the folder
    for file in os.listdir(folder_name):
        if file.endswith(".csv"):  # Ensure only CSV files are processed
            file_path = os.path.join(folder_name, file)
            df_name = os.path.splitext(file)[0]  # Extract name without extension
            data_dict[df_name] = pd.read_csv(file_path, index_col=0)  # Read CSV with index
            
    return data_dict

# Test Code
folder = "2024_to_2025"
data_frames1 = load_csvs_to_dict(folder)

# Print the names of the DataFrames
print("Loaded DataFrames:", list(data_frames1.keys()))

# Display the first 5 rows and first 10 columns of each DataFrame
for name, df in data_frames1.items():
    print(f"\nDataFrame: {name}")
    display(df.iloc[:5, :5])  # Display first 5 rows and first 5 columns

Loaded DataFrames: ['Close', 'High', 'Low', 'Open', 'Volume']

DataFrame: Close

             ADA-USD   AVAX-USD     BNB-USD       BTC-USD  DOGE-USD
Date
2024-05-01  0.449866  33.288101  561.408203  58254.011719  0.130134
2024-05-02  0.458282  33.612564  560.526733  59123.433594  0.132106
2024-05-03  0.467544  35.584896  587.010437  62889.835938  0.146146
2024-05-04  0.463577  37.361832  585.846558  63891.472656  0.160157
2024-05-05  0.458334  37.401939  592.140381  64031.132812  0.161068

DataFrame: High

             ADA-USD   AVAX-USD     BNB-USD       BTC-USD  DOGE-USD
Date
2024-05-01  0.456083  33.854858  579.332947  60780.500000  0.133724
2024-05-02  0.461007  34.086025  565.457397  59602.296875  0.134254
2024-05-03  0.472815  35.867378  590.244812  63320.503906  0.147762
2024-05-04  0.474552  37.617813  593.193420  64494.957031  0.169092
2024-05-05  0.465201  37.934868  594.995300  64610.890625  0.163130

DataFrame: Low

             ADA-USD   AVAX-USD     BNB-USD       BTC-USD  DOGE-USD
Date
2024-05-01  0.419504  30.680227  538.046448  56555.292969  0.120348
2024-05-02  0.440861  32.314617  543.522339  56937.203125  0.124227
2024-05-03  0.447367  33.367043  559.446716  58848.312500  0.131422
2024-05-04  0.463367  35.253227  583.299377  62599.351562  0.146106
2024-05-05  0.453556  36.714916  580.246277  62955.304688  0.154978

DataFrame: Open

             ADA-USD   AVAX-USD     BNB-USD       BTC-USD  DOGE-USD
Date
2024-05-01  0.440815  32.706425  578.487488  60609.496094  0.133327
2024-05-02  0.449866  33.288101  561.408203  58253.703125  0.130134
2024-05-03  0.458284  33.612698  560.526733  59122.300781  0.132109
2024-05-04  0.467544  35.584770  587.018433  62891.031250  0.146142
2024-05-05  0.463577  37.361832  585.846558  63892.453125  0.160157

DataFrame: Volume

              ADA-USD   AVAX-USD     BNB-USD      BTC-USD    DOGE-USD
Date
2024-05-01  526114091  620506676  1502825527  48439780271  2135887034
2024-05-02  357372995  352653461   877449354  32711813559  1308884973
2024-05-03  331867585  314837755   854728192  33172023048  1266276714
2024-05-04  245730966  376360200   582273374  20620477992  2791346636
2024-05-05  239700527  338713061   531182053  18296164805  1506950274